@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color: white;
  color-scheme: dark;
}

.box-shadow {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.overflow-x-scroll::-webkit-scrollbar {
  display: none;
}

/*
  Source:
  https://stackoverflow.com/questions/16921582/how-can-i-fade-in-the-scrollbar-on-hover-webkit-only
*/

.overflow-y-scroll {
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 6px, black 6px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 6px, black 6px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.overflow-y-scroll:hover {
  mask-position: left top;
  -webkit-mask-position: left top;
}

/*
  Slider
  Note: duplicating selectors to increase specificity because something was
  overriding these styles using a different class selector
*/

.MuiSlider-thumb.MuiSlider-thumb {
  display: none;
  width: 12px;
  height: 12px;
}

.MuiSlider-root.MuiSlider-root {
  padding: 0;
  width: 6rem;
  color: white;
}

.MuiSlider-root:hover .MuiSlider-thumb.MuiSlider-thumb,
.MuiSlider-thumb.MuiSlider-thumb:is(.Mui-active) {
  display: flex;
  box-shadow: none;
}

/* Progress bar */

progress[value]::-webkit-progress-value {
  background: white;
}
